<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>
<body>
  <h1>Admin system test</h1>
  <div>
    <li><a href="http://localhost:3000/scholarships/list">รายการทุนทั้งหมด</a></li>
    <li><a href="http://localhost:3000/scholarships/insertdata">เพิ่มทุน</a></li>
    <li><a href="http://localhost:3000/scholarships/userlist">รายการผู้ใช้</a></li>
    <li><a href="http://localhost:3000/scholarships/addcomp">จัดการตัวเลือก</a></li>
  </div>
  <div>
    <h1>User system test</h1>
    <li><a href="http://localhost:3000/users/page">login</a></li>
  </div>
</body>
</html>